<app-header></app-header>
<section>
  <h2>Página no encontrada</h2>
  <div>
    <picture>
      <img
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png"
        alt="pikachu"
        width="79"
        height="78"
        [ngClass]="currentClass"
      />
      <img
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png"
        alt="pikachu"
        width="79"
        height="78"
        [ngClass]="currentClass"
        id="inverse"
      />
    </picture>
    <button (click)="goBackFake()">Atrás</button>
  </div>
  <p>Man robaaaao... la página</p>
</section>
