<p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>
<p class="editable" *ngIf="editEnable">Edición activada</p>
<form *ngIf="!errorMessage" action="">
  <div>
    <input
      type="text"
      name="title"
      [(ngModel)]="documentData.title"
      [readonly]="!editEnable"
    />
    <div *ngIf="!editEnable && isMine">
      <button (click)="enableEdit()" type="button">✍🏻</button>
      <button (click)="handleDelete()" type="button">🗑</button>
    </div>
    <div *ngIf="editEnable">
      <button (click)="handleCancel()" type="button">✖</button>
      <button (click)="handleSubmit()" type="button">✔</button>
    </div>
    <div *ngIf="!isMine">
      <button (click)="handleFork()" type="button">🍴</button>
    </div>
  </div>
  <textarea
    name="content"
    [(ngModel)]="documentData.contentString"
    [readonly]="!editEnable"
    (keydown)="handleKeydown($event)"
  ></textarea>
  <div *ngIf="!editEnable; else editableKeywords">
    <label>Palabras clave:</label>
    <ul>
      <li *ngFor="let word of document.keywords">
        <span class="link">{{ word }}</span>
      </li>
    </ul>
  </div>
  <ng-template #editableKeywords
    ><div>
      <label for="keywords">Palabras clave:</label
      ><input
        name="keywords"
        type="text"
        [(ngModel)]="documentData.keywordsString"
      /></div
  ></ng-template>
  <div *ngIf="!isMine; else yesIsMine">
    <label>Autor:</label>
    <a href="/notFound"
      ><span class="link">{{ document.author.name }}</span></a
    >
  </div>
  <ng-template #yesIsMine> <div>Este documento es tuyo</div> </ng-template>
  <div *ngIf="document.fork">
    <label>Fork de:</label><span class="link">{{ document.fork }} /></span>
  </div>
</form>
