<ul>
  <li>
    <h2 (click)="toggleDocs()">
      <span>mis drtfm</span>
      <div
        [ngClass]="
          openedMyDocs ? 'triangle-button--opened' : 'triangle-button--closed'
        "
      ></div>
    </h2>
    <ul *ngIf="openedMyDocs">
      <li *ngFor="let doc of user.myDocuments | slice: 0:3">{{ doc.title }}</li>
      <li *ngIf="user.myDocuments.length > 3" class="view-more">
        <a routerLink="">Ver más</a>
      </li>
    </ul>
  </li>
  <li>
    <h2 (click)="toggleFavs()">
      <span>favoritos</span>
      <div
        [ngClass]="
          openedMyFavs ? 'triangle-button--opened' : 'triangle-button--closed'
        "
      ></div>
    </h2>
    <ul *ngIf="openedMyFavs">
      <li *ngFor="let doc of user.myFavs | slice: 0:3">{{ doc.title }}</li>
      <li *ngIf="user.myFavs.length > 3" class="view-more">
        <a routerLink="">Ver más</a>
      </li>
    </ul>
  </li>
</ul>
