header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
h1 {
  padding: 30px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
a {
  text-decoration: none;
}
.dont {
  font-size: 1.5rem;
  position: absolute;
  transform: translateX(-50px) translateY(-10px) rotate(-20deg);
  -webkit-text-stroke: 0.3px rgb(192, 192, 192);
  font-family: "Atma", cursive;
  font-weight: 400;
  paint-order: stroke fill;
}
.rtfm {
  font-family: "Arvo", serif;
  font-size: 2.25rem;
}
.read {
  font-family: "Arvo", serif;
  font-size: 0.5rem;
}
