header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  margin: auto;
}
h1 {
  padding: 30px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
a {
  text-decoration: none;
}
.dont {
  font-size: 1.5rem;
  position: absolute;
  transform: translateX(-50px) translateY(-10px) rotate(-20deg);
  -webkit-text-stroke: 0.3px rgb(192, 192, 192);
  font-family: "Atma", cursive;
  font-weight: 400;
  paint-order: stroke fill;
}
.rtfm {
  font-family: "Arvo", serif;
  font-size: 2.25rem;
}
.read {
  font-family: "Arvo", serif;
  font-size: 0.5rem;
}

.user-login {
  text-transform: uppercase;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  margin-right: 1rem;
  object-fit: cover;
  border: 1px black solid;
  & > img {
    border-radius: inherit;
    width: inherit;
    height: inherit;
  }
}
