<app-header></app-header>
<div>
  <input
    type="text"
    name="search"
    [formControl]="search"
    (keyup)="sendSearch()"
    placeholder="Buscar"
  />

  <p *ngIf="search.value; else nonSearch">
    Mis DRTFM - Resultados para: {{ search.value }}
  </p>
  <ng-template #nonSearch><p>Mis DRTFM</p></ng-template>
</div>
<ul>
  <a *ngFor="let doc of showArray" routerLink="/details/{{ doc._id }}"
    ><li>
      {{ doc.title }}
      <i *ngIf="checkIfItIs('fav', doc._id)">❤</i>
      <i *ngIf="checkIfItIs('fork', doc._id)">🍴</i>
    </li>
    <li></li
  ></a>
</ul>
