<form>
  <input
    type="text"
    name="name"
    placeholder="Nombre"
    [(ngModel)]="registerData.name"
  />
  <input
    type="text"
    name="email"
    placeholder="Email"
    [(ngModel)]="registerData.email"
  />
  <input
    type="password"
    name="password"
    placeholder="Contraseña"
    [(ngModel)]="registerData.password"
  />
  <input
    type="password"
    name="passwordRepeat"
    placeholder="Repetir contraseña"
    [(ngModel)]="registerData.rPassword"
  />
  <p *ngIf="errorMessage">{{ errorMessage }}</p>
  <button (click)="handleSubmit()" type="submit">Registrarse</button>
</form>
