div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

fieldset {
  border: 1px solid black;
  padding: 0.5rem;
  margin: 0.5rem 0 0 0;
  & legend {
    padding: 2px 0.5rem 0.2rem 0.5rem;
    background-color: #d9d9d9;
    color: white;
  }
}

input {
  margin: 1.5rem 0 0 0;
  width: 60%;
}

ul {
  font-size: 0.8rem;
}

.i {
  font-style: normal;
}
