h2 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  margin: -1rem 0 1rem 0;
}

form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 90vw;
  min-height: 65vh;
  & > div {
    display: flex;
    justify-content: space-between;
    & > input {
      flex-grow: 2;
      margin-right: 0.3rem;
    }
  }
  & > textarea {
    background-color: #d9d9d9;
    margin: 1rem 0;
    flex-grow: 2;
    resize: none;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
  }
  & input {
    background-color: #d9d9d9;
  }
}

p.error-message {
  color: red;
  font-size: 0.8rem;
}
