<h2>Crear DRTFM</h2>
<p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>
<p class="error-message" *ngIf="!currentUserData.user._id">
  ADVERTENCIA: Usuario no logeado, los cambios no se guardarán.
</p>
<form action="">
  <div>
    <input
      type="text"
      name="title"
      [(ngModel)]="documentData.title"
      placeholder="(título)"
      maxlength="50"
    />
    <button (click)="handleSubmit()">✔</button>
  </div>
  <textarea
    name="content"
    [(ngModel)]="documentData.contentString"
    rows="20"
    maxlength="1000"
    placeholder="(contenido)"
    (keydown)="handleKeydown($event)"
  ></textarea>
  <input
    type="text"
    name="keywords"
    [(ngModel)]="documentData.keywordsString"
    placeholder="(palabras clave separadas por comas)"
  />
</form>
